
/* all about text */

*{
    font-size:13px;
    color:#414141;
}

.dark{
    color:#414141;
}

.white{
    color:#fff;
}


/* end text */

body{
    /* min-height:100vh; */
    background-image: url(../igm/wallPattern_01a.jpeg);
    background-size:500px;
    background-attachment: fixed;
    /* box-shadow:20px 20px 50px 10px rgba(0,0,0,5) inset */
}

.navbar{

    background: rgb(50,50,50);
    background: linear-gradient(0deg, rgb(10,10,10) 0%, rgba(50,50,50,1)  100%);
    padding:25px 0px 25px 0px;
    box-shadow:0px 5px 15px rgba(10,10,10,9);
    border-bottom:1px solid rgb(255, 142, 21);

}

.nav-link{

    color:#fff !important;

}

.active{

    color:rgb(255, 142, 21) !important;

}

.slide-show{
    background-color:#fff;
    /* min-height:50vh; */
    min-height:500px;
    /* border-radius: 10px; */
    /* padding:10px; */
    border:1px solid rgb(148, 82, 11);
    background: linear-gradient(0deg, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.98)  20%, rgba(0,0,0,0.9)  90%);
    /* background-color: rgba(0,0,0,0.9); */
    box-shadow:0px 10px 15px rgba(10,10,10,0.9);
    padding:10px 10px 5px 10px;
}

.slide-show-setting, .topic-white-list-setting, .topic-grey-list-setting, .topic-clear-list-setting, .topic-glass-list-setting, .footer-list-setting{
    /* background-color: rgba(0,0,0, 0.7); */
    padding-top:40px;
    padding-bottom:40px;
}

.topic-white-list-setting{
    background-color: rgba(255, 255, 255, 1);
}

.topic-glass-list-setting{
    background-color: rgba(0, 0, 0, 0.9);
}

.topic-grey-list-setting{
    background-color: rgb(40, 40, 40);
}

.topic-clear-list-setting{
    background-color: rgba(0, 0, 0, 0.9);
}

.footer-list-setting{
    background: linear-gradient(0deg, rgb(128, 71, 10) 0%, rgb(206, 114, 17)  100%);
    border-top:1px solid #000;
}


/* all about cards */
.card-image{
    min-height:200px;
    background-color:rgb(30, 30, 30);
    background-image:url(../igm/wallpainting_02.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size:cover;
    margin-bottom:30px;
}

.card-header{
    padding:15px 0px 15px 0px;
    margin:0px;
}

.slide_01{
    background-image:url(../igm/wallpainting_02.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size:cover;
    min-height:500px;
}

.carousel, .slick-slider{
    padding:0px;
}